@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
 min-height: ;
  padding: 81px 0 111px 127px;
  background-color: #efefef;
}

.container h1 {
  color: #000;
  font-family: Roboto Slab;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 101.385%;
}

.box-container {
  margin-top: 77px;
  padding: 40px 46px 29px 26px;
  width: 791px;
  height: 451px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.25);
}

.box-container p {
  width: 700px;
  height: 178px;
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.box-container ul {
  display: flex;
}

.ul li {
  width: 190px;
  height: 169px;
  border-radius: 400px;
  border: 80px;
  list-style-type: none;
}

.li-1 {
  margin: 30px;
  list-style-type: none;
}

.li-1 img {
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.li-1 h2 {
  margin: 50px 0 127px 30px;
  color: #000;
  font-family: Roboto Slab;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 101.385%;
}
